# EditorConfig helps maintain consistent coding styles for multiple developers
# https://editorconfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Web files (HTML, CSS, JS, TS, Astro)
[*.{html,css,scss,js,ts,tsx,astro,vue,svelte}]
indent_style = tab
indent_size = 2

# Config files (JSON, YAML, etc.)
[*.{json,yml,yaml,toml,json5}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# Package files
[{package.json,*.lock}]
indent_style = space
indent_size = 2