---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
    <h1 class="w-full text-base leading-tight md:w-[520px]">
        Daniel Schmid teaches graphic design, and heads the vocational and
        preparatory programs at EDHEA, University of Applied Sciences and Arts
        Western Switzerland (HES-SO Valais-Wallis)
    </h1>
</BaseLayout>
